* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #404040;
  font-family: "Patua One", Arial, Sans-serif;
  font-weight: normal; }

.container {
  margin: auto;
  width: 90%;
  max-width: 1000px; }

.container header {
  width: 100%;
  background: #000; }
  .container header .image {
    width: 30%;
    float: left;
    padding: 10px;
    margin: 20px; }
    .container header .image img {
      width: 100%;
      vertical-align: top; }
  .container header .title {
    width: 70%;
    float: left;
    padding: 10px;
    margin-top: 50px; }
    .container header .title h1 {
      text-align: center;
      color: #fff;
      font-size: 1.875em;
      letter-spacing: 10px;
      text-shadow: 3px 3px 10px #ccc; }

.navbar-dark .navbar-toggler {
  background: #ff0000; }
.navbar-dark .navbar-nav .nav-link {
  background: #ff0000;
  margin-right: 2px; }
.navbar-dark .navbar-nav .dropdown-menu {
  background: #ff0000; }

.dropdown-item {
  color: #fff; }

.main {
  width: 100%;
  margin-bottom: 60px; }
  .main .ad {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 550px;
    padding: 80px 30px 0 30px;
    background: rgba(255, 0, 0, 0.8);
    margin: auto;
    position: absolute;
    position: fixed;
    top: 8%;
    left: 30%;
    z-index: 100;
    transition: all, 2s, ease 1s;
    animation: ad 2s linear;
    overflow: hidden; }
    .main .ad p {
      color: #fff;
      font-size: 1.9em;
      text-align: center; }
      .main .ad p .close {
        position: relative;
        bottom: 70px;
        left: 25px;
        color: #fff; }
@keyframes ad {
  0% {
    width: 0%;
    height: 0%;
    display: none; }
  100% {
    width: 100%;
    height: 100%;
    display: block; }
  100% {
    width: 100%;
    height: 100%; }
  0% {
    width: 0%;
    height: 0; } }
@keyframes adp {
  0% {
    display: none; }
  100% {
    display: block; } }
  .main .criadero {
    padding: 30px; }
    .main .criadero img {
      margin: auto;
      width: 100%;
      max-width: 270px;
      text-align: center;
      filter: grayscale(100%);
      transition: all 0.5s ease; }
      .main .criadero img:hover {
        filter: none; }
  .main h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: normal;
    padding: 60px 0; }
  .main article .group {
    padding: 5px; }
    .main article .group .card {
      filter: grayscale(100%);
      transition: all 0.5s ease; }
      .main article .group .card:hover {
        filter: none; }
  .main article h2 {
    text-align: center;
    color: #fff;
    font-size: 1.5625em;
    font-weight: normal;
    padding: 30px 0;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    font-family: Domie, Arial, Sans-serif; }
  .main article p {
    background: rgba(190, 1, 1, 0.3);
    padding: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 1.25em; }
  .main article ul {
    width: 70%;
    background: rgba(190, 1, 1, 0.3);
    padding: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 1.25em;
    list-style: none;
    text-align: left;
    float: left;
    margin-right: 20px; }
  .main article ol {
    background: rgba(190, 1, 1, 0.3);
    padding: 20px;
    margin-bottom: 30px;
    padding-left: 40px;
    color: #fff;
    font-size: 1.25em; }
  .main .center {
    text-align: center;
    padding: 30px; }
    .main .center a {
      color: #fff;
      text-decoration: none;
      cursor: default; }
      .main .center a:hover {
        cursor: default; }

.main article .image {
  background: rgba(190, 1, 1, 0.3);
  width: 30%;
  float: left;
  padding: 30px; }
  .main article .image img {
    width: 100%;
    float: left; }
.main .carousel {
  width: 100%;
  height: 100%;
  max-width: 760px;
  max-height: 600px;
  overflow: hidden;
  margin: 60px auto; }
.main .w-100 {
  overflow: hidden; }

aside {
  position: absolute;
  top: 35%;
  left: 10px;
  position: fixed; }
  aside .redes-sociales {
    font-size: 25px;
    text-align: right;
    margin-left: -140px;
    width: 150px; }
    aside .redes-sociales:hover {
      padding-left: 100px;
      transition: all 0.5s ease; }
    aside .redes-sociales ul li {
      list-style: none; }
      aside .redes-sociales ul li a {
        display: inline-block;
        padding: 10px 15px;
        color: #fff;
        margin-bottom: 10px; }
      aside .redes-sociales ul li .facebook {
        background: #3b5998;
        opacity: 0.7;
        transition: all 0.5s ease; }
        aside .redes-sociales ul li .facebook:hover {
          opacity: 1;
          padding-left: 100px; }
      aside .redes-sociales ul li .twitter {
        display: none;
        background: #1da1f2;
        padding: 10px;
        opacity: 0.7;
        transition: all 0.5s ease; }
        aside .redes-sociales ul li .twitter:hover {
          opacity: 1; }
      aside .redes-sociales ul li .youtube {
        background: #ff0000;
        padding: 10px;
        opacity: 0.7;
        transition: all 0.5s ease; }
        aside .redes-sociales ul li .youtube:hover {
          opacity: 1;
          padding-left: 100px; }
      aside .redes-sociales ul li .whatsapp {
        background: #25d366;
        padding: 10px;
        opacity: 0.7;
        transition: all 0.5s ease; }
        aside .redes-sociales ul li .whatsapp:hover {
          opacity: 1;
          padding-left: 100px; }

footer {
  background: #000;
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  footer p {
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
    padding: 15px 0 0 30px; }
    footer p a {
      color: #e44436;
      text-decoration: none;
      font-size: 20px;
      text-align: right; }
      footer p a:hover {
        color: #e44436;
        text-decoration: none; }

@media screen and (max-width: 992px) {
  .container {
    width: 98%; }
    .container header {
      width: 100%; }
      .container header .image {
        width: 30%;
        padding: 15px;
        margin: 15px; }
        .container header .image img {
          width: 100%; }
      .container header .title {
        width: 60%;
        padding: 10px;
        margin-top: 30px; }
        .container header .title h1 {
          font-size: 2.5em;
          text-align: center; }
    .container .main {
      margin: auto; }
      .container .main .ad {
        left: 15%; }
      .container .main article {
        width: 100%;
        text-align: center; }
        .container .main article p {
          text-align: justify; }
    .container aside {
      position: fixed; }
      .container aside .redes-sociales {
        padding-left: 110px; }
        .container aside .redes-sociales:hover {
          padding-left: 110px; }
        .container aside .redes-sociales li {
          padding: 5px;
          margin-right: 5px;
          float: left; }
          .container aside .redes-sociales li a {
            font-size: 1.125em; }
    .container footer {
      flex-direction: column;
      height: auto; }
      .container footer p {
        width: 100%; } }
@media screen and (max-width: 768px) {
  .container header .title h1 {
    font-size: 1.875em; }
  .container .main .ad {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    top: 18%;
    left: 18%;
    padding: 30px; }
  .container .main p {
    font-size: 1.78em; }
    .container .main p .close {
      bottom: 25px;
      left: 20px; }
  .container aside .redes-sociales {
    padding-left: 110px; }
    .container aside .redes-sociales:hover {
      padding-left: 110px; }
  .container footer {
    height: auto; } }
@media screen and (max-width: 576px) {
  .container header .image {
    width: 100%; }
  .container header .title {
    width: 100%; }
    .container header .title h1 {
      font-size: 1.5625em; }
  .container .main .ad {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 400px;
    top: 15%;
    left: 9%;
    padding: 30px; }
  .container .main p {
    font-size: 1.385em; }
    .container .main p .close {
      bottom: 25px;
      left: 20px; }
  .container .main article {
    width: 100%; }
    .container .main article ul {
      width: 100%; }
    .container .main article img {
      width: 100%;
      margin-bottom: 25px; }
  .container aside .redes-sociales {
    padding-left: 110px; }
    .container aside .redes-sociales:hover {
      padding-left: 110px; }
  .container footer {
    height: auto; }
    .container footer p {
      display: block;
      text-align: center;
      padding: 0; } }
@media screen and (max-width: 400px) {
  .container {
    width: 100%; }
    .container header .image {
      margin: 0; }
    .container header .title h1 {
      font-size: 1.05em; }
    .container .main .ad {
      width: 100%;
      max-width: 270px;
      height: 100%;
      max-height: 300px;
      top: 20%;
      left: 9%;
      padding: 30px; }
    .container .main p {
      font-size: 1em; }
      .container .main p .close {
        bottom: 25px;
        left: 20px; }
    .container .main .center h1 {
      font-size: 1.2em; }
    .container .main .center p {
      font-size: 1em;
      text-align: center; }
    .container .main .center a {
      font-size: 1em; }
    .container aside .redes-sociales {
      padding-left: 110px; }
      .container aside .redes-sociales:hover {
        padding-left: 110px; }
    .container footer {
      width: 100%; }
      .container footer p {
        padding: 5px 15px;
        font-size: 1em; } }

/*# sourceMappingURL=custom.css.map */
